footer{
    position:fixed;
    bottom:0px;
    left:0px;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    display:flex !important;
    justify-content:space-between;
    align-items:center;
}
footer ion-icon{
    font-size:30px;
    margin-right:5%;
}footer input{
    border:none;
}::placeholder {
    color: #000000;
    font-size:40px;
    opacity: 1;
}